.preferencesForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align-last: center;

}

Button {
    width: 200px;
}

select {
    width: 180px;
    padding: 6px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 12px #666;
    margin-bottom: 20px;
}

.formWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form-input {
    display: flex;
    flex-direction: column;
}
