.findAssignmentForm {
    align-items: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/*
.findAssingmentInput {
  This is for changing the size of the input text box
}
*/ 