.background{
    background-image: linear-gradient(#387F9A, #D9E4EA);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
  }
  
.horizontal{
    display: flex;
    flex-direction: row;
  }
  
.rightContainer{
    padding: 48px;
      display: flex;
      margin-left: auto;
  }
  
.leftContainer{
    padding: 48px;
  }
  
.logo{
  font-size: 48px;
  }