.Rectangle{
    float: left;

    position: absolute;
    width: 40%;
    height: 90%;
    left: 2%;
    top: 4.5%;

    background: linear-gradient(180deg, rgba(136, 74, 237, 0.8) 0%, #387F9A 100%);
    border-radius: 20px;
}

.finishedIllustration {
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.topText {
    position: relative;
    margin-bottom: 3.5%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 300%;
    line-height: 36px;
}

.preferencesForm {
    float: right;
    width: 60%;
    margin-top: 2%;
    
}

Button {
    height: 40px;
    position: fixed;
    left: 68%;
}

select{
    width: 25%;
    padding: 6px 20px;
    margin-bottom:3%;
    display: list-item;
    margin-left: 38%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 12px #666;
    margin-top: 1%;

}

label {
    margin-left: 38%;
}

/* input {
    display: list-item;
    margin-left: 42%;
    width: 18%;
    height: 40px;
    background: rgba(136, 74, 237, 0.8);
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
} */

/* .steps_3 {
    position: absolute;
    left: 11.11%;
    right: 75%;
    top: 71.88%;
    bottom: 13.96%;    
}

.steps_4 {
    position: absolute;
    left: 31.32%;
    right: 54.79%;
    top: 71.88%;
    bottom: 13.96%;

    filter: drop-shadow(5px 5px 25px rgba(136, 74, 237, 0.8));
} */