.input { 
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 422px;
  height: 40px;
}

.button { 
  background-color: #884AED;
  border-radius: 30px;
  width: 259px;
  height: 43px;
  color: #FFFFFF;
}

.createButton {
  background-color: #884AED;
  border-radius: 15px;
  width: 121px;
  height: 28px;
}

.container { 
  background: linear-gradient(180deg, rgba(136, 74, 237, 0.8) 0%, #387F9A 100%);
  border-radius: 20px;
  position: relative;
  width: 720px;
  height: 944px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
left: 39px;
top: 40px;
}

.title { 
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 425px;
  height: 41px;
  left: 155px;
  top: 133px;
}

.img { 
  position: absolute;
}


.devicer {
  width: 10em;
  display: block;
  height: 2px;
  background-color: #4b4b4d;
  margin: 25px 10px;
}

.logo { 
  width: 80px; 
  height: 80px;
}

.line{ display: flex;}